Applications/MAMP/htdocs/apparent/apparent_site/wordpress/wp-content/plugins/advanced-access-manager/service/awm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="awmDescription"
	targetNamespace="urn:awm"
	xmlns:tns="urn:awm"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:complexType name="header">
            <xsd:all>
                <xsd:element name="js" type="xsd:string"/>
                <xsd:element name="css" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </wsdl:types>

        <!-- ###PREMIUM VERSION### -->
    <wsdl:message name="premiumRequest">
        <part name="key" element="sxd:string"/>
    </wsdl:message>
    <wsdl:message name="premiumResponse">
        <part name="file" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="premiumFault">
        <part name="exception" type="xsd:string"/>
    </wsdl:message>
        <!-- ###ABOUT AWM PAGE### -->
    <wsdl:message name="aboutHeaderRequest" />
    <wsdl:message name="aboutHeaderResponse">
        <part name="header" element="tns:header"/>
    </wsdl:message>

    <wsdl:message name="aboutHTMLRequest" />
    <wsdl:message name="aboutHTMLResponse">
        <part name="html" type="xsd:string"/>
    </wsdl:message>

    <wsdl:portType name="premiumPort">
        <wsdl:operation name="retrievePremium">
            <wsdl:input message="premiumRequest" />
            <wsdl:output message="premiumResponse"/>
            <wsdl:fault name="premiumFault" message="tns:premiumFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="aboutHeaderPort">
        <wsdl:operation name="retrieveAboutHeader">
            <wsdl:input message="aboutHeaderRequest" />
            <wsdl:output message="aboutHeaderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="aboutHTMLPort">
        <wsdl:operation name="retrieveAboutHTML">
            <wsdl:input message="aboutHTMLRequest" />
            <wsdl:output message="aboutHTMLResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="premiumBinding" type="tns:premiumPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrievePremium">
            <soap:operation soapAction="urn:premiumAction"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:premiumAction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:premiumAction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="aboutHeaderBinding" type="tns:aboutHeaderPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveAboutHeader">
            <soap:operation soapAction="urn:retrieveAboutHeaderAction"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:retrieveAboutHeaderAction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:retrieveAboutHeaderAction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="aboutHTMLBinding" type="tns:aboutHTMLPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveAboutHTML">
            <soap:operation soapAction="urn:retrieveAboutHTMLAction"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:retrieveAboutHTMLAction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:retrieveAboutHTMLAction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="awmService">
        <wsdl:port name="premiumPort" binding="tns:premiumBinding">
            <soap:address location="http://whimba.org/ws" />
        </wsdl:port>
        <wsdl:port name="aboutHeaderPort" binding="tns:aboutHeaderBinding">
            <soap:address location="http://whimba.org/ws" />
        </wsdl:port>
        <wsdl:port name="aboutHTMLPort" binding="tns:aboutHTMLBinding">
            <soap:address location="http://whimba.org/ws" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>